*
!global.json
!Directory.Build.props
!Directory.Packages.props
!src/
!src/**
!prompts/
!prompts/**
**/bin
**/obj
**/*.user
.env
.env.*
tests/
.git
.github
.vs
.vscode
.idea
docs/
infra/
rules/
TestResults/
README.md
